<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emlak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EmlakEntities" connectionString="metadata=res://*/Model.ModelEmlak.csdl|res://*/Model.ModelEmlak.ssdl|res://*/Model.ModelEmlak.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;AttachDbFilename=|DataDirectory|\Data\Emlak.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60;User Instance=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Emlak.Properties.Settings>
      <setting name="InvoiceId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>KİRA TAKİP</value>
      </setting>
      <setting name="CompanyPhone" serializeAs="String">
        <value>telefon1 • telefon2</value>
      </setting>
      <setting name="CompanyAddress" serializeAs="String">
        <value>adres</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value />
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="NoBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultInvoiceType" serializeAs="String">
        <value>Emlak.Report.ReportInvoice.rdlc</value>
      </setting>
      <setting name="UpdateURL" serializeAs="String">
        <value>http://telgrafla.com/emlakupdate/app.xml</value>
      </setting>
    </Emlak.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>